@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:ital,wght@0,300;0,400;1,500&display=swap');
:root{
    --h1-font-size:2em;
}

/* ------------------GENERIC CLEAN/RESET------------------ */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    position: relative;
    margin: 0;
    font-size: 1rem;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
/* I COULDNT USE TWO CLASSES AT THE SAME TIME SOMETIMES, I DONT KNOW WHY */
.normal-size{
    font-weight:lighter;
}
.orange-text{
    color: #ffc900;
}
.bold-text{
    font-weight: bold;
}
.blue-text{
    color: #1bb8e9;
}
.line{
    background-color: white;
    height: 0.45em;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    border-radius: 1em;
}
.container{
    padding: 2em 0 5em 0;
    width: 100%;
    margin: auto;
}

/* ------------------HEADER------------------ */
header{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em;
    gap: 10em;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 3em;
}
/* ADDING EVENT TO SHOW SUBMENU */
.menu ul li:hover > .submenu ul{
    position: absolute;
    display: block;
}
.menu li{
    font-weight: bold;
    /* margin: 1em; */
}
.menu a{
    color: rgb(116, 110, 110);
    padding: 0;
    font-size: 0.8em;
}
.menu a:hover{
    color: #1bb8e9;;
}
.submenu ul{
    display: initial;
}
.submenu ul li a{
    color: rgb(179, 175, 175);
    font-size: 0.8em;
}
.submenu ul{
    display: none;
}

/* RESPOSIVINESS FOR HEADER */
@media(max-width:1300px){
    header{
        gap:0;
    }
}
@media(max-width:848px){
    :root{
        --h1-font-size:1.5em;
    }
    .menu ul{
        gap:0.5em;
    }
    /* header{
        padding: 0;
    } */
}

/* ------------------BENEFITS------------------ */
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* gap: 3em; */
    /* background-color: black; */
    background-image: url(/assets/img/background_info.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding:  2em 0 5em 0;
    /* TRYING TO DO A BETTER RESPONSIVE BACKGROUND */
    /* background-size: contain;
    background-attachment: fixed;
    background-position: center center; */
}
.info h1,h3,a{
    text-align: center;
    /* padding: 1em; */
    color: white;
}
.info h1{
    font-size: var(--h1-font-size);
    padding-bottom: 0.5em;
}
.info h3{
    line-height: 1.5em;
    font-weight: 400;
}
/* BUTTON */
.info a{
    background-color: #ffc900;
    padding: 1em 2em 1em 2em;
    margin-top: 2em;
    border-radius: 4px;
}
.info a:hover{
    background-color: rgb(228, 167, 54);
    transition: 0.5s;
}

/* ------------------ABOUT------------------ */
.sobre{
    background-color: #1bb8e9;
    text-align: center;
}
.sobre p{
    font-size: 1em;
    color: white;
    padding: 1em 0 4em 0;
}
.sobre-nos{
    padding: 1em; 
}
.sobre-nos h1{
    color: white;
    font-size: var(--h1-font-size);
    padding: 1em 0 0.2em 0;
}
.sobre-nos p{
    padding: 2.4em 0 1em 0;
}
.lista-sobre{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 1.8em;
    gap: 3em;
}
/* @media(max-width:1107){
    .lista_sobre{
        display: flex;
        flex-wrap: wrap;
    }
} */
.lista-sobre div{
    background-color: white;
    padding: 32px;
    border-radius: 5%;
}
.lista-sobre p{
    padding-bottom: 0;
    font-weight: 500;
    text-align: justify;
    color: rgb(85, 83, 83);
}
/* IN THIS CASES, I COULDNT USE TWO CLASSES AND I DONT KNOW WHY! */
#info-anc{
    color: white;
}
#lei-completa{
    font-weight: bold;
    color: white;
}
#lei-btn{
    font-size: 1em;
    text-decoration: underline;
    padding: 0;
}

/* ------------------HEALTH BENEFITS------------------ */
/* SLIDER/CAROUSEL USING JS
obs: FIZ SEM AS SETAS PARA NAVEGACAO POR PARECER MAIS CLEAN, MAS TEM A OPCAO*/
.slide-top h1{
    font-size: var(--h1-font-size);
    padding: 1em 0 0.2em 0;
    text-align: center;
    color: #1bb8e9;
}
.slide-top hr{
    margin-bottom: 2em;
    background-color: #ffc900;
}
#slider{
    background-color: #f5f5f5;
    height: 20em;
    /* height: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-back{
    background-color: #f5f5f5;
}
.slider-subcontainer{
    width: 85%;
    margin: auto;
}
.slide-img{
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
    padding: 7em;
    width: 15em;
    height: 5em;
    border-radius: 10px;
    transition: 0.5s;
    /* background-size: cover; */
}
.slide-img:hover{
    box-shadow: 0 0 0 200px rgba(110, 107, 107, 0.123) inset;
}
/* IMAGENS USADAS NO CAROUSEL/SLIDER */
.img-1{
    background-image: url(/assets/img/logo_affix.png);
}
.img-2{
    background-image: url(/assets/img/logo_allcare.png);
}
.img-3{
    background-image: url(/assets/img/logo_qualicorp.png);
}
.img-4{
    background-image: url(/assets/img/logo_qvsaude.png);
}
.img-5{
    background-image: url(/assets/img/logo_clube_care.png);
}

/* ------------------PRODUCTS------------------ */
.produtos{
    /* width: auto; */
    margin-top: 10em;
    position: relative;
    background-color: white;
    padding-bottom: 8em;
}
.produtos-title h1{
    font-size: var(--h1-font-size);
    padding: 2em 0 0.2em 0;
    text-align: center;
    color: #1bb8e9;
}
.produtos-title hr{
    margin-bottom: 2em;
    background-color: #ffc900;
}
.operadoras-wrapper{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0em 10em 0 10em;
}
.operadoras-wrapper img{
    padding: 1em 0 2em 0;
}
.operadoras-wrapper p{
    font-size: 0.7em;
    text-align: center;
    width: 100px;
    margin: auto;
    padding: 0.5em;
    background-color: black;
    color: white;
}
.operadoras-wrapper div{
    padding: 1em;
}

/* ------------------CONTACTS 1------------------ */
.subcontainer-contatos{
    background-image: url(/assets/img/background_fale.png);
    background-size: cover;
    display: flex;
    /* gap: 200px; */
}
.fale-wrapper{
    padding: 2em 0 4em 12em;
    display: flex;
    flex-direction: column;
}
.fale-wrapper p,h1{
    text-align: center;
    color: white;
    padding: 1em 0 0.2em 0;
}
.fale-title h1{
    font-size: var(--h1-font-size);
}
.fale-title p{
    margin-top: 1em;
    font-size: 1.2em;
}
.fale-form p{
    font-size: 1em;
    text-align: start;
    padding: 2em 0 0.4em 0;
}
input[type=text], input[type=email], textarea{
    width: 550px;
    padding: 1em;
    margin: 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
}
.submit{
    padding-top: 3em;
    text-align: end;
}
input[type=submit]{
    border-radius: 4px;
    background-color: #00d058;
    border: none;
    color: white;
    padding: 1em 3em 1em 3em;
    text-decoration: none;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: #20b85f;
}
textarea{
    height: 150px;
    resize: none;
}

/* ------------------CONTACTS 2------------------ */
.contatos{ 
    width: 550px;
    padding: 0;
    margin: 8em 0 4em 0;
    background-color: white;
    border-radius: 4px;
}
.contatos h1{
    padding-top: 0.3em;
    font-size: var(--h1-font-size);
    color: rgb(83, 81, 81);
}
.contatos-wrapper{
    padding: 1.5em;
}
.fale-title hr{
    background-color: #ffc900;  
}
.telefone-fixo{
    margin: 1.5em 0 1em 0 ;
    display: flex;
    gap: 2em;
}
.telefone-fixo p{
    color: rgb(134, 134, 134);    padding: 0;
    font-size: 1.3em;
}
.telefone p{
    text-align: start;
}
/* I COULDNT USE AGAIN TWO CLASSES */
#tel{
    color: #1bb8e9;
}
.whatsapp a{
    margin: 2em 0 2em 0;
    display: flex;
    align-items: center;
    border-radius: 4px;
    gap: 5em;
    padding: 0;
    background-color: #00d28c;
}
.whatsapp img{
    border-radius: 4px;
    padding: 0.8em;
    background-color: #04a871;
}
.whatsapp p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.7em;
    text-align: center;
    color: white;
}
.nosso-endereco{  
    margin: 1.5em 0 1em 0 ;
    display: flex;
    align-items: center;
    gap: 2em;
}
.nosso-endereco p{
    color: rgb(134, 134, 134);    padding: 0;
    font-size: 1.3em;
    font-weight: bold;
}
.endereco p{
    /* line-height: 1.1em; */
    text-align: start;
}
.nosso-endereco img{
    height: 100%;
}
#lugar{
    font-weight: 700;
    font-size: 0.8em;
    color: #1bb8e9;
}
.container-contatos{
    padding: 2em 0 0 0;
    width: 100%;
    margin-bottom: 0;
}

/* RESPONSIVINESS FOR CONTACTS */
@media(max-width:777px){
    .fale-wrapper{
        padding: 2em 0 2em 4em;
    }
    input[type=text], input[type=email], #mensagem{
        width: 400px;
    }
    .contatos{
        width: 400px;
    }
    .telefone-fixo p{
        font-size: 1em;
    }
    .telefone-fixo img{
        height: 3em;
    }
    .whatsapp p{
        text-align: start;
        font-size: 1.3em;
    }
    .whatsapp a{
        gap: 2em;
    }
    .nosso-endereco p{
        font-size: 1em;
    }
}

/* ------------------FOOTER------------------ */
footer{
    padding: 0;
    background-color: #004457;
    text-align: center;
}
.container-footer{
    display: flex;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
.container-footer p,a{
    margin: 0;
    color: white;
    padding: 0;
    font-size: 0.8em;
}